<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.api.mapper.MmUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.api.model.MmUserInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="TINYINT" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
  </resultMap>
</mapper>